/* @use '@angular/material' as mat */
.image {
    display: block;
    /* margin-top: 10%; */
    margin-left: 25%;
    width: 50%;
    height: 60%;
    /* opacity: 0.2; */
}
.header h1 {
    color: #388d65;
    font-size: 50px;
    text-align: center;
    margin-bottom: 2%;
    border-radius: 10px;
    font-family: fantasy;
}
.header h2 {
    color: #76d6a9;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
}






