.mat-mdc-card {
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
}
.mat-mdc-form-field {
    width: 100%;
}
.mat-mdc-raised-button {
    margin: 2%;
}
.mat-mdc-raised-button {
    color:#76d6a9;
}
.mat-mdc-card-header {
    font-size: 20px;
    margin-bottom: 1%;
    color: #155738;
}
h1 {
    color: #388d65;
    font-size: 50px;
    text-align: center;
    margin-bottom: 2%;
    border-radius: 10px;
    font-family: fantasy;
}
h2 {
    color: #76d6a9;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
}

