.mat-mdc-card {
    width: 40%;
    margin-left: 30%;
    margin-top: 2%;
}
.mat-mdc-form-field {
    width: 100%;
}
.mat-mdc-raised-button {
    margin: 2%;
}
.mat-mdc-raised-button {
    color:#76d6a9;
}
.mat-mdc-card-header {
    font-size: 20px;
    margin-bottom: 1%
}

