mat-drawer-container {
  background-color: #e7eeea;
  margin: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar {
  background: #388d65;
  position:sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  margin-bottom: 5px;
  
}
.example-icon  {
  color: white;
}
.a {
  color: #76d6a9;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: none;
}
.content {
  width: 150px;
  height: 100%;
  margin: 0px;
  border: none;
  transition: transform 0.3s ease-in-out;
  box-shadow: #e0e0e0 5px 5px 5px 5px;
  position:absolute;
  color: #548f73;
}
.content.open {
  transform: translateX(0);
}
.menu {
  color: white;
  
}
.mat-mdc-button {
  width: 100% ;
  /* background-color: #1e88e5; */
}

/* .homeside {
  display: flex;
  flex-direction: column;
} */
